<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>C'est pas faux</title>

	{# CSS #}
	<link rel="stylesheet" href="{{app.request.basepath}}/public/libs/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="{{app.request.basepath}}/public/libs/bootstrap/dist/css/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="{{app.request.basepath}}/public/css/styles.min.css">
	<link rel="stylesheet" href="{{app.request.basepath}}/public/libs/font-awesome/css/font-awesome.min.css">

	{# author #}
	<meta name="author" content="Sandrine MARTINEZ, Florian FAUCHIER and MICELI Antoine" />

	{% block meta %}
	{% endblock %}

</head>
<body>

	{% include 'header.html.twig' %}

	{% if slider is not defined %}
		<header>
			<div class="slider">
				{% for img in images %}'
					<div>
						<h1>
							<span class="fa fa-quote-left"></span> (A Merlin) C'est vrai ce qu'on dit, <br>
							vous êtes le fils d'un démon et d'une pucelle ? <br>
							[...] Vous avez plus pris de la pucelle.<span class="fa fa-quote-right"></span>
							<br>
							<label>
							<br>
								Arthur <br>
								Livre 1 : "Les défis de merlin"
							</label>
						</h1>
						<img src="{{app.request.basepath}}/public/img/slider/{{img.filename}}" alt="{{img.alt}}" />
					</div>
				{% endfor %}
			</div>
		</header>
	{% endif %}

	<main class="container-fluid">
		<div class="row">
			<h1 class="col-md-12 amatic mainTitle">
				{% block title %}
					Bienvenue sur cpasfaux.club
				{% endblock %}
			</h1>
		</div>
		{% block body %}
			{# c'est ici qu'on aura le contenu HTML de nos pages #}
		{% endblock %}
	</main>

	<script src="{{app.request.basepath}}/public/libs/jquery/dist/jquery.min.js"></script>
	<script src="{{app.request.basepath}}/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="{{app.request.basepath}}/public/js/slider.js"></script>
	{% block javascript %}
		{# ce block permet à chaque page d'ajout les fichiers javascripts dont elle a besoin #}
	{% endblock %}
</body>
</html>
