<nav class="navbar navbar-default">
  <div>
      <img src="{{ app.request.basepath }}/public/img/logo.jpg" alt="logo"/>
      </div>
      <div>
        <a href="{{ path('home') }}" hreflang="fr">
        Accueil
      </a>
      </div>
      <div>
        <a href="{{ path('citations') }}" hreflang="fr">
          Citations
        </a>
      </div>
      <div>
        <a href="{{ path('jukebox') }}" hreflang="fr">
        Jukebox
      </a>
      </div>
      <div>
        <a href="{{ path('about') }}" hreflang="fr">
          A propos
          </a>
      </div>
      <div>
        <a href="{{ path('contact') }}" hreflang="fr">
          Contact
          </a>
        </div>
</nav>
