{% extends 'base.html.twig' %}


{% block meta %}
    <meta name="application-name" content="page de citations"/>
    <meta name="description" content="Retrouve les meilleures citations de la série Kaamelott"/>
{% endblock %}

{% block mtitle %}
    CPASFAUX : Abcdaire des citations Kaamelott
{% endblock %}

{% block title %}
    Abcdaire des citations de Kaamelott listées par personnages
{% endblock %}

{% block body %}
    <div id="citations" class="row">
        <div class="centrerContent">
            <p>
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme
                assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait
                que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en
                soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des
                passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de
                texte, comme Aldus PageMaker.
            </p>
        </div>
        <hr>
        <div class="centrerContent">
            <br>

            <div class="col-md-12 Abcdaire">
                {% for each in range('a', 'z') %}
                    <div class="letters"> {{ each }} </div>
                {% endfor %}
            </div>
            {% for key, citation in citations %}
                {# content, episode, personnage, nom, acteur #}

                <div class="col-md-12 citation" data-perso="{{ key|first|lower }}">
                    <div class="ico">
                        <img src="{{ app.request.basepath }}/public/img/citations/{{ key }}.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="header">
                            <h1>{{ key }}</h1>
                            <h2>Acteur : <span class="acteurNom">{{ citation['acteur'] }}</span></h2>
                            <div class="clear"></div>
                            <p>
                                <strong>Personnage : </strong>{{citation['profil']}}
                            </p>
                        </div>

                        <div class="accordion">
                            {% for keyLivre, livre in citation['livres'] %} 
                                <h1>
                                    {{ keyLivre }}
                                </h1>
                                <div class="divCitations">
                                    {% for keyLigne, ligne in livre %} 
                                        {% for data in ligne %}
    										{% autoescape 'html' %}
    											<p><strong>{{ data|raw }}</strong></p>
    										{% endautoescape %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script src="{{ app.request.basepath }}/public/js/citations.min.js"></script>
{% endblock %}
