{% extends 'base.html.twig' %}

{% block mtitle %}
    - jukebox
{% endblock %}

{% block title %}
    Jukebox des meilleurs citations de kaamelott
{% endblock %}

{% block meta %}
    <meta name="application-name" content="jukebox de la série" />
    <meta name="description" content="Jouez les meilleurs moments de la série Kaamelott" />
{% endblock %}

{% block body %}

	<div id="jukebox" class="row">

		<div class="row brand">
			<div class="col-md-8 col-md-offset-2">
				<h1>
					Kaamelott Jukeboxes
				</h1>
				<h2>
					Les meilleurs citations de nos chevaliers !
				</h2>
			</div>
		</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 jukeboxes">

		<div class="view view-first" data-audio="cpasfaux">  
		     <img src="{{app.request.basepath}}/public/img/perceval.jpg" />  
		     <div class="mask">  
			     <h2>C'est pas faux</h2>  
			     <p>
			     	Par Perceval De Galle
			     </p>  
		         <button>
		         	<i class="fa fa-play"></i>
		         </button>
		     </div>  
		     <audio src="{{app.request.basepath}}/public/sons/karadoc/legras.mp3"></audio>
		</div>

		<div class="view view-first" data-audio="legras">  
		     <img src="{{app.request.basepath}}/public/img/karadoc.jpg" />  
		     <div class="mask red">  
			     <h2>Le gras c'est la vie</h2>  
			     <p>
			     	Par Karadoc de Vanne
			     </p>  
		         <button>
		         	<i class="fa fa-play"></i>
		         </button>
		     </div>  
		     <audio src="{{app.request.basepath}}/public/sons/karadoc/legras.mp3"></audio>
		</div>

		<div class="view view-fifth" data-audio="legras">  
		     <img src="{{app.request.basepath}}/public/img/burgonde.jpg" />  
		     <div class="mask blue">  
			     <h2>Avé César !</h2>  
			     <p>
			     	Par le Roi Burgonde
			     </p>  
		         <button>
		         	<i class="fa fa-play"></i>
		         </button>
		     </div>  
		     <audio src="{{app.request.basepath}}/public/sons/burgonde/avecesar.mp3"></audio>
		</div>

	</div>
</div>

	</div>
{% endblock %}

{% block javascript %}
	<script src="{{app.request.basepath}}/public/js/jukeboxes.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61549656-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
