{% extends 'base.html.twig' %}

{% block mtitle %}
    CPASFAUX : Jukebox des meilleures citations de Kaamelott
{% endblock %}

{% block title %}
    Jukebox des meilleures citations de Kaamelott
{% endblock %}

{% block meta %}
    <meta name="application-name" content="jukebox de la série"/>
    <meta name="description" content="Extraits audio des citations phares de la série Kaamelott"/>
{% endblock %}

{% block body %}

    <div id="citations" class="row">
        <p>
            Dans cette section, tu retrouveras les citations de nos chevaliers favoris de la séries Kaamelott au format
            audio.<br>
            C'est encore plus drôle de les écouter.
        </p>
        <hr>
        <br>

        {% for key, citation in jukeboxes %}
            {# content, episode, personnage, nom #}

            <div class="col-md-12 citation" data-perso="{{ key|first|lower }}">
                <div class="ico">
                    <img src="{{ app.request.basepath }}/public/img/citations/{{ key }}.jpg" alt="">
                </div>
                <div class="content">
                    <div class="header">
                        <h1>
                            {{ key }}
                        </h1>

                        <p>
                            <b>Personnage : </b>
                        </p>
                    </div>

                    <div class="accordion">
                        {% for k, sub in citation %}
                            <h1>
                                {{ k }}
                            </h1>
                            <div>
                                {% for episode in sub %}
                                    <p>
										<span>
											{{ episode.content }}
										</span>
                                        <br>
                                        <audio controls
                                               src="{{ app.request.basepath }}/public/songs/{{ episode.path }}"></audio>
                                    </p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ app.request.basepath }}/public/js/jukeboxes.min.js"></script>
{% endblock %}
